*.Rhistory
*/script/log
manuscript/*.aux
manuscript/*.bbl
manuscript/*.blg
manuscript/*.log
manuscript/*.out
manuscript/*.synctex.gz
manuscript/*-eps-converted-to.pdf
figure/result
supp/*.aux
supp/*.log
supp/*.synctex.gz
supp/*-eps-converted-to.pdf
