*.Rhistory
*/script/log
manuscript/*.pdf
manuscript/*.aux
manuscript/*.bbl
manuscript/*.blg
manuscript/*.log
manuscript/*.out
manuscript/*.synctex.gz
manuscript/*
figure/result
supp/*.pdf
supp/*.aux
supp/*.log
supp/*.synctex.gz
